<section class="phx-hero">


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
<%= for item <- @blockchain do %>
  <td><%= item.hash %></td>
  <td><%= item.previous_hash %></td>
  <td><%= item.timestamp %></td>
  <td><%= item.txns %></td>
<% end %>
</table>




</section>