<div class="phx-hero">

<h1>Following is the list of the participants.<br> Click over any participant to sign in into it's account</h1>
    <%= for {p} <- @messenger do %>
       <p>Participant's Public Key: <a href="http://localhost:4000/participant/<%= p %>"> <%= p %></a></p>
    <% end %>
</div>

