<div class="phx-hero">


<p>Transaction from <%= @participant %> to <%= @to %> for amount <%= @amount %> mitbits </br>has be recorded in transaction pool and txn id is <%=  @signature %></p>

            <a href="http://localhost:4000/participant/<%= @participant %>">Back to user account page</a>

    </div>



