<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Mitbits Online Cyptrocurrency" %></h1>
  <p>A fast decentralized money exchange system. <br/>Purposed of this web interface is to show a simulation of 100 participants taking part in money exchange.</p>

  <p>Currently when we started up our servers 100 participants were spwaned and 10K random transactions were created between them <br/> Below links will help you navigate through our simulation.</p>
</section>
